<!DOCTYPE html>
<html>

	{% if page.title != 'index' %}
	    {% include head.html %}
	{% else %}
		{% include index_head.html %}
	{% endif %}

<body id="page-top" class="landing-page">
	<div class="container" style="margin-right: 100px; margin-left: 120px;">
		{% if page.title != 'index' %}
		    {% include blog_header.html %}
		{% endif %}

	    {{ content }}

		{% if page.title != 'index' %}
		    {% include foot.html %}
		{% else %}
			{% include index_foot.html %}
		{% endif %}
	</div>
</body>
</html>
